/*Sección 4: trabajos*/

.trabajos {
    background: #5cc2e4;
    border-bottom: solid 0.2rem palegoldenrod;
} 
.trabajos__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.trabajos__titulo {
    margin: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.trabajos__resultados {
    font-size: 1.5rem;
    text-align: justify;
    border:solid;
    padding: 2rem;
}


.trabajos__resultados:visited{
    color: black
}

.trabajos__resultados:hover{
    color: #eefee8;
    transition: 0.2s;
    text-decoration: none;
    background-color: #2779a7;
}

.trabajos__img {
    width: 30rem;
    margin: 1rem;
}

.trabajos__btns {
    /* width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse; */
} 



@media screen and (max-width:768px) {
    .trabajos__box {
        flex-flow: column-reverse wrap;
        justify-content: space-around;
    }

    .trabajos__resultados{
        font-size: .5rem;
        padding: 1rem;
    }

    .trabajos__img {
        width: 18rem;
        margin: 1rem;   
    }
}